

.custom-gray-card {
    background-color: #E7E7E7;
    border-radius: 35px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    border: none;
}
   
    .modern-input {
        border-radius: 12px !important;
        border: none !important;
        padding: 10px 15px !important;
        background-color: #ffffff !important;
        color: #6c757d;
        box-shadow: 0 2px 5px rgba(0,0,0,0.02) !important;
    }
   
    .info-field {
        background-color: #dcdcdc; 
        border-radius: 12px;
        padding: 10px 15px;
        min-height: 45px;
        display: flex;
        align-items: center;
        color: #495057;
    }
    
.description-field {
    background-color: #E7E7E7;
    border: 1px solid #d1cfe2; 
    border-radius: 18px;
    padding: 20px;
    min-height: 120px;
    font-size: 0.9rem;
    color: #666;
}


