
:root {
    --bg-nuova: #CFE2FF;
    --bg-consulta: #FFFFFF;
    --btn-blue: #67A6FF;
    --btn-grey: #8c8c8c;
    --text-dark: #333333;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 91%);
    background-attachment: fixed;
    color: var(--text-dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.card-nuova, .card-consulta {
    min-height: 560px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 32px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
}

.card-nuova {
    background-color: var(--bg-nuova);
}

.card-consulta {
    background-color: var(--bg-consulta);
}

    
    .card-nuova:hover, .card-consulta:hover {
        transform: translateY(-8px);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15) !important;
    }

.icon-box {
    font-size: 5rem;
    color: var(--text-dark);
    margin: 1.5rem 0;
}

.btn-seckure {
    display: block;
    width: 100%;
    padding: 15px 0;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
    transition: filter 0.2s, transform 0.1s;
    text-decoration: none;
    text-align: center;
}

.btn-custom-blue {
    background-color: var(--btn-blue);
    color: white !important;
}

.btn-custom-grey {
    background-color: var(--btn-grey);
    color: white !important;
}

.btn-seckure:hover {
    filter: brightness(0.9);
}

.btn-seckure:active {
    transform: scale(0.98);
}

/* Input Form */
.
